body, input, button, select {
  font-family: Arial;
  font-size: 18px;
  font-color : add8e6;
}


body, input {
  padding: 0px;
  margin: 0px;
}

/* Individual tweets are put into the div "section" */ 
div.section {
	border: 1px solid #eeeeee; 
  margin: 6px 0px 6px 0px;
  padding: 6px 10px 6px 10px;
  
  -moz-border-radius: 8px;  
  -webkit-border-radius: 8px; 
}

div.section.positive {
	background-color: #EFC;
	border-color: #C6DD97;
	border-width: 2px;
}

div.section.negative {
  background-color: #FFE0E0;
  border-color: #FFC2C2;
  border-width: 2px;
}

div.section.neutral {
  border-color: #dddddd
}

td {
  border: 1px solid #eeeeee;
  width: 100px;
}

body.general, body.results {
  position: relative; /* So that absolute position can be done for Login / Help */
  padding: 25px 20px 25px 20px; /* Similar to Google.com */
}

a {
  color: rgba(0, 0, 0, 0.9);	
}
body form{
width: 550px;
	padding: 0px 0px 4px 25px;
	margin: 0px;
	}
form input{
border: 1px inset #fff;
	height: 25px;
	background-color: #FFF;
	padding: 1px;
	margin: 0px;}
form submit{
background-color: #369;
	color: #FFF;
	padding: 5px;
	border: 0;
	}
